<div class="fixed inset-0 w-screen h-screen bg-green-100 overflow-hidden">
  <div id="game-field" class="w-full h-full relative">
    <div id="trees-container" class="w-full h-full"></div>
    <div id="player" class="absolute w-8 h-8 bg-blue-500 rounded-full transition-all duration-100 z-10" style="left: 0; top: 0;"></div>
  </div>
</div>